@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Обнуление */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #2e2e2e;
  position: relative;
}

.container {
  max-width: 1270px;
  padding: 0 1rem;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}



/* header */



.header {
  height: 5rem;
  background-color: #dbffd6;
  position: fixed;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
}




/* card */

.main {
  padding-top: 5rem;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem 0;
}

.test {
  width: 33.33333%;
  margin-bottom: 3rem;
}

.card {
  width: 17rem;
  border-radius: 6px;
  overflow: hidden;

  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0 ,0 , .5);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__head {
  /* width: 16rem; */
  height: 13rem;
  background-color: lavender;
}

.card__text {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  background-color: #f7f7f7;
}

.card__price {
  display: flex;
  justify-content: space-between;
}

.card__price-text {
  font-size: 1rem;
  padding: 0.19rem 1rem;
  color: #3c3c3c;
  line-height: 2;
  width: 7.1rem;
}

.card__price-counter {
  border: 0.5px dotted #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #3c3c3c;
  width: 100px;
  height: 38px;
}

.card__price-counter span {
  font-size: 1.21rem;
}

.input-counter {
  border: none;
  border: none;
  text-align: center;
  width: 30px;
  height: 25px;
}

.input-counter:focus {
  outline: 0;
}

.card__notification {
  font-size: 0.9rem;
  color: #606060;
  font-weight: 600;
  padding: 0.6rem 0.5rem;
}

.card__btn {
  background-color: #9fe68d;
  height: 3.5rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.card__btn:hover {
  background-color: #8ec97f;
}

.card__btn-add {
  padding: 1.1rem 0;
}

.plus,
.minus {
  cursor: pointer;
  /* запрет выделение текста */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.plus:hover {
  color: #2b8600;
}

.minus:hover {
  color: #e90808;
}




/* basket */





.basket {
  position: relative;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
}

.cart {
  color: #3c3c3c;
  position: absolute;
  top: 0;
  left: 0;
}

.cart__filled {
  color: #3c3c3c;
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(0 0 5px rgb(66, 63, 231));
}

.basket__counter {
  /* position: absolute;
  top: 18px;
  left: 18px; */
  filter: drop-shadow(0 0 5px rgb(66, 63, 231));
}




/* Modal */

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0 ,0 , .5);
  position: absolute;
  top: 0;
  left: 0;
}

.modal__window {
  position: fixed;
  right: -100vw;
  height: 100vh;
  width: 30rem;
  background-color: rgb(255, 255, 255);
  transition: all 1s ease 0s;
}

.modal__window.active {
  right: 0;
}

.modal__window-header h2 {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

.modal__window-block {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1.5rem;
}

.modal__window-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 1.5rem;
}

.modal__window-text {
  font-size: 0.85rem;
  width: 7rem;
  padding: 0 0.6rem;
}

.prev-img {
  width: 70px;
  height: 70px;
  box-shadow: 0 0 10px rgba(0, 0 ,0 , .5);
}

.delete {
  width: 1.7rem;
  height: 1.7rem;
}




/* footer */




.footer {
  height: 5rem;
  width: 100%;
  background-color: rgb(202, 135, 47);
}



/* MEDIA */

@media (max-width: 924px) {
  .test {
    width: 50%;
  }

  .modal__window {
    width: 70%;
  }

  .card__price-text {
    font-size: 0.85rem;
  }
}

@media (max-width: 621px) {
  .test {
    width: 100%;
  }

  .modal__window {
    width: 100%;
  }

  .prev-img {
    width: 50px;
    height: 50px;
  }

  .modal__window-block {
    padding: 0.75rem 0.75rem;
  }

  .card__price-text {
    padding: 0.6rem;
  }

  .modal__window-item .card__price-counter {
    padding: 0.3rem 0.5rem;
  }
}

@media (max-width: 621px) {
  modal__window-text {
    font-size: 0.7rem;
  }
}




